/********************************************************
	
	Module
	Provides base styles for the modules and collects scss
	
*********************************************************/
/* line 10, ../scss/module.scss */
.module {
  padding: 10px;
  border: 1px solid #333;
  margin-bottom: 10px;
}

/* line 16, ../scss/module.scss */
.module-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

/********************************************************
	
	Slider
	
*********************************************************/
/* line 32, ../scss/module.scss */
.slider-wrap {
  position: relative;
  overflow-x: hidden;
}

/* line 37, ../scss/module.scss */
.slider-strip {
  position: relative;
  width: 30000px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-box-align: start;
  box-align: start;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-box-pack: start;
  box-pack: start;
}

/* line 45, ../scss/module.scss */
.slider-member {
  position: relative;
  opacity: 1;
  margin: 0px;
  -webkit-transition: opacity 0.5s;
  -webkit-transition-delay: 0.5s;
  -moz-transition: opacity 0.5s 0.5s;
  -o-transition: opacity 0.5s 0.5s;
  transition: opacity 0.5s 0.5s;
}
/* line 51, ../scss/module.scss */
.slider-member .figure-caption {
  position: absolute;
  width: 100%;
  padding: 5px 5px 15px;
  bottom: 0px;
  left: 0px;
  color: #fff;
}
/* line 60, ../scss/module.scss */
.slider-member img {
  width: 100%;
  height: auto;
}

/* line 66, ../scss/module.scss */
.slider-member:nth-child(even) {
  background: #666;
}

/* .pre .slider-member {
	opacity:0;
} */
/* line 74, ../scss/module.scss */
.slider-gallery {
  border: none;
  padding: 0px;
  position: relative;
  z-index: 10;
}
/* line 80, ../scss/module.scss */
.slider-gallery .slider-body {
  position: relative;
}
/* line 85, ../scss/module.scss */
.slider-gallery .slider-ui .button-next, .slider-gallery .slider-ui .button-prev, .slider-gallery .slider-ui .pagination-wrap {
  position: absolute;
  bottom: 0px;
}
/* line 90, ../scss/module.scss */
.slider-gallery .slider-ui .button-next, .slider-gallery .slider-ui .button-prev {
  height: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 96, ../scss/module.scss */
.slider-gallery .slider-ui .pagination-wrap {
  width: 100%;
  left: 0px;
  text-align: center;
}
/* line 102, ../scss/module.scss */
.slider-gallery .slider-ui .button-next {
  right: 0px;
}
/* line 106, ../scss/module.scss */
.slider-gallery .slider-ui .button-left {
  left: 0px;
}

/* line 112, ../scss/module.scss */
.slider-gallery.titleOver .module-title {
  position: absolute;
  z-index: 20;
}

/* line 119, ../scss/module.scss */
.slider-carousel .slider-member {
  padding: 0px 2px;
}
/* line 123, ../scss/module.scss */
.slider-carousel .slider-ui {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  box-pack: justify;
}
/* line 127, ../scss/module.scss */
.slider-carousel .slider-ui > * {
  display: block;
}

/********************************************************
	
	Feature Four
	
*********************************************************/
/* line 139, ../scss/module.scss */
.module-feature-four {
  border: none;
  padding: 0px;
}
/* line 143, ../scss/module.scss */
.module-feature-four .module-body-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  box-pack: justify;
}

/********************************************************
	
	Promo Block
	
*********************************************************/
/* line 155, ../scss/module.scss */
.promo-block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
/* line 158, ../scss/module.scss */
.promo-block > * {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
/* line 162, ../scss/module.scss */
.promo-block > *:first-child {
  margin-right: 10px;
}

/********************************************************
	
	Major minor
	
*********************************************************/
/* line 174, ../scss/module.scss */
.module-major-minor img {
  width: 100%;
  height: auto;
}
/* line 179, ../scss/module.scss */
.module-major-minor .module-body-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  box-pack: justify;
  margin-bottom: 10px;
}
/* line 184, ../scss/module.scss */
.module-major-minor .module-body-wrap > * {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  margin-left: 10px;
}
/* line 189, ../scss/module.scss */
.module-major-minor .module-body-wrap > *:first-child {
  margin-left: 0px;
}
/* line 194, ../scss/module.scss */
.module-major-minor .major-hero {
  margin-bottom: 10px;
}

/********************************************************
	
	Original Videos
	
*********************************************************/
/* line 205, ../scss/module.scss */
.module-orig-videos {
  border: 1px solid #333;
  padding: 10px;
}
/* line 209, ../scss/module.scss */
.module-orig-videos .module-body-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
/* line 212, ../scss/module.scss */
.module-orig-videos .module-body-wrap > * {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
/* line 216, ../scss/module.scss */
.module-orig-videos .module-body-wrap > *:first-child {
  margin-right: 30px;
  width: 400px;
}
/* line 223, ../scss/module.scss */
.module-orig-videos .figure-caption {
  position: static;
  color: inherit;
}
/* line 228, ../scss/module.scss */
.module-orig-videos .slider-ui .pagination-wrap {
  position: static;
}
/* line 231, ../scss/module.scss */
.module-orig-videos .slider-ui .pagination-wrap .button-pagination {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

/********************************************************
	
	Hero Multi
	
*********************************************************/
/* line 245, ../scss/module.scss */
.module-hero-multi {
  border: 1px solid #333;
  padding: 0px;
}
/* line 249, ../scss/module.scss */
.module-hero-multi .module-body-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
/* line 252, ../scss/module.scss */
.module-hero-multi .module-body-wrap > * {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
/* line 256, ../scss/module.scss */
.module-hero-multi .module-body-wrap .module-major-wrap {
  margin-right: 10px;
  width: 300px;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
}
/* line 262, ../scss/module.scss */
.module-hero-multi .module-body-wrap .module-minor-wrap {
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-box-pack: justify;
  box-pack: justify;
}
/* line 268, ../scss/module.scss */
.module-hero-multi .module-body-wrap .module-minor-wrap > * {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}

/********************************************************
	
	More Like This
	
*********************************************************/
/* line 282, ../scss/module.scss */
.module-more-like {
  border: none;
  background: #999;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  margin: 0px -10px;
}
/* line 288, ../scss/module.scss */
.module-more-like > * {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
/* line 295, ../scss/module.scss */
.module-more-like .module-body-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  /* @include box-pack(justify);  */
}
/* line 300, ../scss/module.scss */
.module-more-like .module-body-wrap > * {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  padding: 0px 10px;
  border-left: 1px solid #333;
  margin-bottom: 0px;
}
/* line 307, ../scss/module.scss */
.module-more-like .module-body-wrap img {
  background: #666;
}

/********************************************************
	
	More To Explore
	
*********************************************************/
/* line 323, ../scss/module.scss */
.module-more-explore .module-body-wrap .module-member {
  width: 23.5%;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 10px;
}

/********************************************************
	
	Take Five
	
*********************************************************/
/* line 343, ../scss/module.scss */
.module-take-five .type-media-hero .media-hero-wrap {
  position: relative;
}
/* line 346, ../scss/module.scss */
.module-take-five .type-media-hero .media-hero-wrap .media-ordinal {
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: #fff;
}
/* line 355, ../scss/module.scss */
.module-take-five .media-ordinal, .module-take-five .figure-caption {
  font-size: 40px;
  line-height: 1.1em;
  padding: 0px 10px;
  margin: 0px;
  background: transparent;
}
