/* line 1, ../scss/stream.scss */
.stream-fragment {
  font-size: 12px;
  clear: both;
  margin: 10px 0px;
}

/* line 7, ../scss/stream.scss */
.stream-super {
  font-size: 11px;
}

/* line 11, ../scss/stream.scss */
.stream-title {
  font-size: 16px;
  font-weight: bold;
}

/* line 16, ../scss/stream.scss */
.stream-sub a {
  font-weight: bold;
}

/* line 20, ../scss/stream.scss */
.stream-hero {
  width: 150px;
  height: 150px;
  float: left;
  margin: 0px 10px 10px 0px;
}
