/********************************************************
	
	Root.scss
	Collects all scss files
	
********************************************************/

@import 'compass/css3';

@import 'normalize.scss';
@import 'main.scss';
@import 'text.scss';

@import 'structure.scss';
@import 'site-footer.scss';

@import 'fragment.scss';
@import 'module.scss';
@import 'editorial.scss';

/********************************************************
	Temporary Fixes. Remove all this
********************************************************/

img {
	background:#999;
	/* width:100%;*/
	/* min-width:100px; */
	/* height:auto;  */
}

.ad {
	padding:0px;
	background:#333;
	color:#fff;
}
	
.ad-x20 {
	width:300px;
	height:250px;
}
