@import 'compass/css3';

@import 'normalize.scss';
@import 'main.scss';

html {
	background:#aaa;
	margin:0px;
	padding:0px;
}

body {
	margin:0px;
	padding:0px 10px;
	width:1000px;
	margin:0px auto;
	background:#fff;
}

h1, h2, h3, h4, h5, h6 {
	margin:0px;
}

a, a:hover, a:visited, a:active {
	text-decoration:none;
	color:inherit;
}

img {
	background:#777;
	width:100px;
	height:auto;
}

@import 'stream.scss'; 