/********************************************************
	
	Root.scss
	Provides basic structure for the wrapper and rails
	
*********************************************************/

@import 'compass/css3';

html {
	background:#aaa;
}

body {
	padding:10px;
	width:1000px;
	margin:0px auto;
	background:#fff; 
}

#content-wrap {
	@include display-box;
	@include box-orient(horizontal);
}

	#content-main, #editorial-main {
		@include box-flex(1);
		margin-right:10px;
	}
	
	#right-rail {
		@include box-flex(0);
		width:300px;
	}