{% extends 'editorial.html' %}

{% block content_title %}Article Title{% endblock %}

{% block editorial_header %}
	{% include 'module/Gallery.html' with { 
		'obj' 			: data.gallery, 
		'buttons' 		: true,
	} %}
{% endblock %}

{% block editorial_body %}
	{% include 'module/Series.html' with {
		'title'		: 'In This Series',
		'obj'		: data.series
	} %}
	
	{{ data.article.members[data.article.currentPage].body|raw }}
	
	<div class="editorial-pagination">
		
		{% include 'include/ButtonPrev.html' with { 'obj' : data.article.members, 'currentPage' : data.article.currentPage, 'linking' : 'href' } %}
		{% include 'include/Pagination.html' with { 'obj' : data.article.members, 'currentPage' : data.article.currentPage, 'linking' : 'href' } %}
		{% include 'include/ButtonNext.html' with { 'obj' : data.article.members, 'currentPage' : data.article.currentPage, 'linking' : 'href' } %}
	
	</div>
{% endblock %}