{% extends 'two_column.html' %}

{% block template_class %}{% endblock %}

{%block content_header %}
	{% include 'module/more_like.html' with { 'obj' : data.more_like } %}
	<div class="content-category">Category</div>
	<h1 class="content-title">{% block content_title %}Editorial Title{% endblock %}</h1>
	<div class="title-sub">
		<span class="content-author">by <a href="?tmp=Author">Jack London</a></span> |
		<span class="content-tags">Tagged <a href="?tmp=TagLanding">Tag</a> <a href="?tmp=TagLanding">Tag</a> <a href="?tmp=TagLanding">Tag</a></span>
		<span class="content-share"><a href="#">Print</a> | <a href="#">Email</a> | <a href="#">Share</a></span>
	</div>
{% endblock %}

{% block content_main %}
	{% block editorial_main %}
		<div id="editorial-main">
			<div class="editorial-header">
				{% block editorial_header %}
				{% endblock %}
			</div>
			<div class="editorial-body">
				{% block editorial_body %}
				{% endblock %}
			</div>
	
			{% include 'include/comments.html' %}
			{% include 'include/ad.html' with { 'instance_class' : 'ad-adwords', 'ad_txt' : 'Google Adwords' } %}
			
			{% block content_more %}
				{% include 'module/more_explore.html' with { 'obj' : data.more_explore } %}	
			{% endblock %}
	
		</div>
	{% endblock %}
	
{% endblock %}

{% block rightRail %}
	{% include 'include/ad.html' with { 'instance_class' : 'ad-x20', 'ad_txt' : 'x20' } %}
	{% include 'module/major_minor.html' with { obj : data.major_minor } %}
	{% include 'module/take_five.html' with { 'obj' : data.take_five, 'title' : 'Must Reads', 'buttons' : true, 'pagination' : true, 'linking' : 'span' } %}
	{% include 'module/mind_blowers.html' with { 'obj' : data.take_five, 'title' : 'Mind Blowers', 'buttons' : true, 'pagination' : true, 'linking' : 'span' } %}
	{% include 'module/around_web.html' with { 'obj' : data.around_web } %}
{% endblock %}
		