{% for mem in obj %}
	{% if useTitle %}
		{% set pagTxt = mem.title %}
	{% else %}
		{% set pagTxt = loop.index %}
	{% endif %}
	
	{% if mem.hashVal %}
		{% set hashVal = mem.hashVal %}
	{% else %}
		{% set hashVal = loop.index0 %}
	{% endif %}
	
	{% if linking == 'deep' %}
		<a class="button button-pagination {% if loop.index0 == currentPage %}current{% endif %}" {% if loop.index0 != currentPage %}href="{{ mem.href }}"{% endif %} data-pageNum="{{ hashVal }}">{{ pagTxt }}</a>
	{% elseif linking == 'span' %}
		<span class="button button-pagination {% if loop.index0 == currentPage %}current{% endif %}" data-pageNum="{{ hashVal }}">{{ pagTxt }}</span>
	{% else %}
		<a class="button button-pagination {% if loop.index0 == currentPage %}current{% endif %}" {% if loop.index0 != currentPage %}href="{{ mem.href }}"{% endif %}>{{ pagTxt }}</a>
	{% endif %}
{% endfor %}