<footer id="site-footer">
	{% include 'include/footer_column.html' with { 'id' : 'our-sites', 'title' : 'Our Sites', 'memberCount' : 24 } %}
	{% include 'include/footer_column.html' with { 'title' : 'Video', 'memberCount' : 7 } %}
	{% include 'include/footer_column.html' with { 'title' : 'Shop', 'memberCount' : 10 } %}
	{% include 'include/footer_column.html' with { 'title' : 'Consumer Service', 'memberCount' : 4 } %}
	{% include 'include/footer_column.html' with { 'title' : 'Corporate', 'memberCount' : 7 } %}
</footer>