<div class="fragment-media {{ fragment_class }}">
	{% if fragment_src or fragment_ordinal %}
		<a href="{{ fragment_href }}">
			<div class="media-hero-wrap">
				{% if fragment_src %}
					<img class="media-hero" {% if fragment_width %}width="{{ fragment_width }}px"{% endif %} {% if fragment_height %}height="{{ fragment_height }}px"{% endif %} src="{{ fragment_src }}" />
				{% endif %}
				{% if fragment_ordinal %}
					<span class="media-ordinal {% if fragment_src %}overlay{% endif %}">{{ fragment_ordinal }}</span>
				{% endif %}
			</div>
		</a>
	{% endif %}
	<div class="media-body-wrap">
		{% if fragment_super %}
			<div class="media-super">
				{{ fragment_super }}
			</div>
		{% endif %}
		<div class="media-title">
			<a href="{{ fragment_href }}">{{ fragment_title|raw }}</a>
		</div>
		{% if fragment_body %}
			<div class="media-body">
				<a href="{{ fragment_href }}">{{ fragment_body|raw }}</a>
			</div>
		{% endif %}
		{% if fragment_sub %}
			<div class="media-sub">
				{{ fragment_sub }}
			</div>
		{% endif %}
	</div>
</div>