{% extends 'module/Slider.html' %}

{#
	Purpose: Gallery is intended as an image-based module, usually used as a content hero

	Arguments:
		buttonsExt	: bool - whether to display prev/next in the slider header
		showCount	: bool - whether to display count (1 of 4) in the slider header
		Following will be absorbed into list
		showTitle	: bool - whether to display the slide title in the slider header
		showNum		: bool - whether to display the page number (ala Top10). showtitle must be true.

	Inherited:
		buttons		: bool - whether to display buttons
		pagination	: bool - whether to display pagination
		linking: string - deep/span/href - type of linking to use
		title		: string - Module title
		
#}

{% block child_class %}slider-gallery {% block grandchild_class %}{% endblock %}{% endblock %}

{% block slider_header %}
	<div class="slider-header">
		{% if showCount or buttonsExt %}
			<span class="header-ui">
				{% if buttonsExt %}
					{% include 'include/ButtonPrev.html' with { 'obj' : obj.members, 'currentPage' : obj.currentPage, 'linking' : linking } %}
				{% endif %}
				
				{% if showCount %}
					<span class="slider-count"><span class="count-current">{{ obj.currentPage + 1 }}</span> of <span class="slider-total">{{ obj.members|length }}</span></span>
				{% endif %}
				
				{% if buttonsExt %}
					{% include 'include/ButtonNext.html' with { 'obj' : obj.members, 'currentPage' : obj.currentPage, 'linking' : linking } %}
				{% endif %}
			</span>
		{% endif %}
	</div>
{% endblock %}

{% block slider_member %}
	{% include 'fragment/figure.html' with {
		'fragment_class'	: "slider-member member-#{ mem.pageNum }",
		'fragment_href'		: mem.href,
		'fragment_src'		: mem.src,
		'fragment_width'	: "#{ mem.width }px",
		'fragment_height'	: "#{ mem.height }px",
		'fragment_body'		: mem.body
	} only %}
{% endblock %}