{% extends 'Module.html' %}

{#
	Purpose: Slider serves as a generic base class for all carousels, sliders, etc

	Arguments:
		buttons: bool - whether to display buttons
		pagination: bool - whether to display pagination
		deepLinked: bool - whether slider controls page deep linking

	Inherited:
		title: string - Module title
		
#}

{% block module_class %}Module-Slider {% block child_class %}{% endblock %}{% endblock %}

{% block module_body %}
	{% block slider_header %}{% endblock %}
	<div class="slider-body">
		<div class="slider-wrap">
			<div class="slider-strip">
				{% for mem in obj.members %}
					{% block slider_member %}
						<div class="slider-member member-{{ mem.pageNum }}">
							{% block member_body %}
								Slide {{ mem.pageNum }}
							{% endblock %}
						</div>
					{% endblock %}
				{% endfor %}
			</div>
		</div>
		<div class="slider-ui">
			{% if buttons %}
				{% include 'include/SliderPrev.html' %}
			{% endif %}
			
			{% if pagination %}
				<span class="pagination-wrap">
					{% for mem in obj.members %}
						{% if deepLinked %}
							<a class="button button-pagination {% if mem.pageNum == obj.currentPage %}current{% endif %}" {% if mem.pageNum != obj.currentPage %}href="{{ mem.href }}"{% endif %} data-pageNum="{{ mem.pageNum }}">{{ mem.pageNum }}</a>
						{% else %}
							<span class="button button-pagination {% if mem.pageNum == obj.currentPage %}current{% endif %}" data-pageNum="{{ mem.pageNum }}">{{ mem.pageNum }}</span>
						{% endif %}
					{% endfor %}
				</span>
			{% endif %}
			
			{% if buttons %}
				{% include 'include/SliderNext.html' %}
			{% endif %}
			
		</div>
	</div>
{% endblock %}