{% extends 'cam.html' %}

{% block cam_class %}cam-hero-four{% endblock%}

{% block cam_body %}
	<figure class="cam-hero">
		<a href="#"><img class="member-hero" src="img/trans-1x1.png" /></a>
		<figcaption>
			<a href="#">Member 1 Description</a>
		</figcaption>
	</figure>
	{% for memberI in 2..memberCount %}
		<div class="cam-member">
			<a href="#"><img class="member-hero" src="img/trans-1x1.png" /></a>
			<div class="member-title">
				<a href="#">Member {{ memberI }} Title</a>
			</div>
			<div class="member-description">
				<a href="#">Member {{ memberI }} Description</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}