<div class="module cam cam-feature-four">
	<div class="module-title">Dnews Orig Vids - Oct 5 2012</div>
	<div class="carousel-wrap">
		<div class="carousel-strip">
			{% for i in 0..3 %}
				<figure class="module-member member-{{ i }}">
					<img class="module-hero" src="img/trans-16x9.png" />
					<figcaption class="module-caption">
						Nobody thought anything about the news.
					</figcaption>
				</figure>
			{% endfor %}
		</div>
	</div>
	<select class="carousel-select">
		{% for i in 0..3 %}		
			<option value="{{ i }}">Nobody thought anything about the news.</option>
		{% endfor %}
	</select>
</div>