<!-- <div class="module cam cam-take5-carousel">
	<div class="module-title">{{ title }}</div>
	<div class="carousel-wrap" data-current-slide="0">
		<div class="carousel-strip">
			{% for i in 1..5 %}
				{% if (i % 3) == 0 %}
					<figure class="module-member member-{{ i }} slide-image figure-overlay">
						<a href="?tmp=Article">
							<img class="member-hero" src="img/trans-16x9.png" />
						</a>
						<figcaption class="member-ordinal">
							{{ i }}.
						</figcaption>
					</figure>
				{% elseif (i % 2) == 0 %}
					<div class="module-member member-{{ i }} slide-image figure-overlay">
						<figure class="member-figure">
							<a href="?tmp=Article">
								<img class="member-hero" src="img/trans-16x9.png" />
							</a>
							<figcaption class="member-ordinal">
								{{ i }}.
							</figcaption>							
						</figure>
						<p class="member-title">
							<a href="?tmp=Article">Member title</a>
						</p>
						<p class="member-description">
							<a href="?tmp=Article">Member Description</a>
						</p>
					</div>
				{% else %}
				
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="module-UI">
		<span class="button button-prev">Prev</span>
		{% for i in 1..5 %}
			<span class="button button-pagination" data-tango="{{ i }}">{{ i }}</span>
		{% endfor %}
		<span class="button button-next">Next</span>
	</div>
</div> -->